@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800,700,600,300,200,100,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

.social-icon{
  opacity: 1;
  width: 28px;
  height: 28px;
  margin-right: 16px;
  float: left;
  background-size: 28px 28px !important;
  cursor: pointer;
  -webkit-transition: .2s;
     -moz-transition: .2s;
      -ms-transition: .2s;
       -o-transition: .2s;
          transition: .2s;
}

.social-icon:hover{opacity:1}
.git{background: url('https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/github-512.png')}
.youtube{background: url('https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/youtube-512.png')}
.chat{background: url('https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/discord-512.png')}
.forum{background: url('https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/myspace-512.png')}
