@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800,700,600,300,200,100,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: .8em;
  color: #444;
}
::selection{background: #222; color: #FFF}
::-moz-selection{ background: #222; color: #FFF}
a{
  text-decoration: none;
  color: #666;
}
h3{
  font-size: 2em;
  font-weight: 300;
}
h4{
  color: #888;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: .1em;
}
#topbar{
  width: 100%;
  position: fixed;
  height: 56px;
  top: 0;
  background: rgba(0,0,0,0);
}
#logo{
  position: absolute;
  margin-top: 20px;
  margin-left: 42px;
  display: none;
  cursor: pointer;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: .5s;
     -moz-transition: .5s;
      -ms-transition: .5s;
       -o-transition: .5s;
          transition: .5s;
}
#header-content{
  position: relative;
  text-align: center;
  width: 100%;
  max-height: 600px;
  background: #222;
  overflow: hidden;
  -webkit-transition: .2s;
     -moz-transition: .2s;
      -ms-transition: .2s;
       -o-transition: .2s;
          transition: .2s;
}
#social-media{
  position: absolute;
  float: right;
  bottom: 24px;
  right: 24px;
  z-index: 11;
  cursor: pointer;
}
.social-icon{
  opacity: .7;
  width: 28px;
  height: 28px;
  margin-right: 16px;
  float: left;
  background-size: 28px 28px !important;
  cursor: pointer;
  -webkit-transition: .2s;
     -moz-transition: .2s;
      -ms-transition: .2s;
       -o-transition: .2s;
          transition: .2s;
}

.social-icon:hover{opacity:1}
.git{background: url('https://github.githubassets.com/images/modules/logos_page/Octocat.png')}
.youtube{background: url('https://i.imgur.com/uT3Sai9.png')}
.chat{background: url('https://cdn.iconscout.com/icon/free/png-256/discord-3-569463.png')}
.forum{background: url('http://chittagongit.com/download/34064')}

#header-text{
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
}
#header-text h1{
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  opacity: 0;
  color: #FFF;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: .05em;
  cursor: default;
  top: 55%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: fadeup 1.5s forwards ease;
          animation: fadeup 1.5s forwards ease;
  -webkit-animation-delay: .2s;        
          animation-delay: .2s;
}
@-webkit-keyframes fadeup{
  100% { top: 50%; opacity: 1 }
}
@keyframes fadeup{
  100% { top: 50%; opacity: 1 }
}

#hamburger{
  position: fixed;
  top: 0;
  color: rgba(255,255,255, .8);
  z-index: 13;
  padding: 16px;
  cursor: pointer;
  display: block;
  text-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
#navoverlay{
  top: 0;
  position: fixed;
  background: rgba(0,0,0, .5);
  height: 100%;
  width: 100%;
  display: none;
  cursor: pointer;
  z-index: 9;
}
nav{
  top: 0;
  position: fixed;
  z-index: 12;
  background: #0A0A0A;
  height: 100%;
  width: 220px;
  margin-left: -100%;
  -webkit-transition: margin-left .2s, background .5s;
     -moz-transition: margin-left .2s, background .5s;
      -ms-transition: margin-left .2s, background .5s;
       -o-transition: margin-left .2s, background .5s;
          transition: margin-left .3s, background .5s;
}
nav ul{
  float: right;
  margin-top: 56px;
  width: 100%;
  margin-right: 0;
  margin-left: 56px;
}
nav li, #footer-text li{
  float: left;
  list-style: none;
  height: 56px;
  width: 100%;
  cursor: pointer;
}

nav a{
  position: relative;
  top: 1.7em;
  color: #FFF;
  font-size: .9em;
  letter-spacing: .1em;
  margin: 0 24px;
  -webkit-transition: .2s;
     -moz-transition: .2s;
      -ms-transition: .2s;
       -o-transition: .2s;
          transition: .2s;
}
nav a:hover{
  opacity: .6;
}
.selected{
  background: rgba(0,0,0,.2);
}
.communitydec{
  padding:10px;
  margin:10px;
  margin-left: 20px;
  margin-right:20px;
  font-size:18px;
}
#video-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.4);
}
#reel{
  width: 100%;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  overflow: hidden;
  display: block;
}

#content{
  width: 100%;
  height: 100%;
}

.page-title{
  background: #FFF;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  color: #111;
}

#grid{
  margin: 0 auto;
  width: 100%;
  overflow: auto;
}

[class*='col-']{ /* Targets anything with 'col-' */
  float: left;
}
.col-2-3{width: 100%;}
.col-1-4{width: 100%;}
.col-1-3{width: 100%;}
.col-1-2{width: 100%;}
.col-1-1{width: 100%;}


.module{
  height: 225px;
  background: #DDD;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  background-size: 160%;
  background-position: 50% 50%;
  cursor: pointer;
  -webkit-transition: .5s;
     -moz-transition: .5s;
      -ms-transition: .5s;
       -o-transition: .5s;
          transition: .5s;
}
.module:hover{background-size: 170%; position: relative}
.module:hover .module-hover{
  background: rgba(0,0,0, .7);
}
.module:hover .module-hover p{
  margin-top: 30px;
  opacity: 1;
}
.module:hover .module-hover h2{
  margin-top: 10px;
}
.module-hover{
  opacity: 1;
  background: rgba(0,0,0, .5);
  color: #FFF;
  height: 100%;
  -webkit-transition: .4s;
     -moz-transition: .4s;
      -ms-transition: .4s;
       -o-transition: .4s;
          transition: .4s;
}
.module-text-holder{
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.module-hover h1{
  font-size: 1.7em;
  letter-spacing: .06em;
}
.module-hover h2{
  font-size: .9em;
  font-weight: 300;
  margin-top: 5px;
  letter-spacing: .1em;
  -webkit-transition: .5s;
     -moz-transition: .5s;
      -ms-transition: .5s;
       -o-transition: .5s;
          transition: .5s;
}
.module-hover p{
  display: inline-block;
  margin-top: 20px;
  padding: 12px 32px;
  border: #FFF solid 2px;
  border-radius: 1px;
  opacity: 1;
  -webkit-transition: .5s;
     -moz-transition: .5s;
      -ms-transition: .5s;
       -o-transition: .5s;
          transition: .5s;
}
.module-hover p:hover{
  background: #FFF;
  color: #111
}
.module-hover p:before{
  content: "View";
}
.project-title, .project-subtitle{
  text-transform: uppercase;
  font-weight: 800;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.project-subtitle{
  font-weight: 400;
  font-size: .8em;
}

.project{
  width: 100%;
  background: #FFF;
  overflow: hidden;
}

.project-content, .project-description{
  width: 100%;
  float: left;
}
.project-content iframe{
  height: 300px;
  display: block;
}
.image-content{
  height: 500px;
  margin: 0 auto;
  background-size:cover;
  background-position: 50% 50%;
}
.image-content:hover{
  opacity: .9;
}
.text-holder{
  padding: 30px;
}
.description{
  margin-top: 1em;
  font-size: 1.1em;
  line-height: 1.5em;
}

#iframe-holder{
  top: 0;
  background: #000;
  z-index: 16;
  position: fixed;
  width: 100%;
  height: 300px;
  display: none;
  margin-top: 0px; /*JS Defined*/
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
#iframe-overlay{
  top: 0;
  position: fixed;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  z-index: 15;
  display: none;
  cursor: pointer;
}

.ytiframe{
  display: block;
  width: 100%;
  height: 100%;
}

footer{
  width: 100%;
  background: #0A0A0A;
  background-size:cover;
  background-position: 50% 50%;
  padding: 32px;
}
#footer-text{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#footer-text li a{
  color: #EEE;
  font-size: .9em;
}
#footer-text p{
  letter-spacing: 0.1em;
  line-height: 1.6em;
  font-size: 1.1em;
  color: #AAA;
  text-align: center;
  text-transform: uppercase;
}

/*Contact Form*/
#contact-form{
  padding: 0 32px;
  width: 100%;
  max-width: 1000px;
  margin: -25px auto 75px auto;
  overflow: hidden;
}
#contact-form label{
  font-size: 3em;
  position: relative;
  top: -2em;
  -webkit-transition: .3s ease;
     -moz-transition: .3s ease;
      -ms-transition: .3s ease;
       -o-transition: .3s ease;
          transition: .3s ease;
}
::-webkit-input-placeholder{color:#333}
:-moz-placeholder{color:#333}
::-moz-placeholder{color:#333}
:-ms-input-placeholder{color:#333}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label,
#contact-form p{
  color: #333;
  margin-top: 3em;
  letter-spacing: 0.08em;
  font-family: 'Raleway', Sans-serif;
  font-size: 1.2em;
}
#contact-form input[type=text]{
  display: inline-block;
  padding-bottom: .5em;
  width: 100%;
  float: left;
  border: none;
  border-bottom: 1px solid #DDD;
  overflow: auto;
  cursor: pointer;
  -webkit-transition: .4s;
     -moz-transition: .4s;
      -ms-transition: .4s;
       -o-transition: .4s;
          transition: .4s;
}

#contact-form input[type=text]:focus{
  outline: none;
  border-bottom: solid 1px #AAA;
  cursor: auto;
}
#contact-form input[type=text]:focus ~ label,
#contact-form input[type=text]:valid ~ label{
  top: -5.5em;
  font-size: .9em;
  font-weight: 700;
  color: #333;
}
#contact-form textarea{
  width: 100%;
  border: none;
  border-bottom: 1px solid #DDD;
  margin-top: 3.5em;
}
#contact-form input[type=submit]{
  float: right;
  margin-top: 4em;
  border: 2px solid #222;
  background: transparent;
  font-size: 1.1em;
  padding: .8em 1em;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
}

#contact-form input[type=submit]:hover{
  background: #222;
  color: #FFF;
}
#contact-form input[type=submit]:active{}
.select-option{
  width: 48%;
  border-radius: 0px;
  float: left;
  overflow: hidden;
  margin-top: 1em;
  border-bottom: 1px solid #DDD;
}
.right{float: right}

#contact-form select{
  border: none;
  width: 95%;
  background: transparent;
  margin-top: 3.5em;
  margin-left: -3px;
  margin-bottom: 1em;
}

#contact-form textarea{
  font-family: 'Raleway', Sans-serif;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  -webkit-transition: .2s;
     -moz-transition: .2s;
      -ms-transition: .2s;
       -o-transition: .2s;
          transition: .2s;
}
#contact-form p{
  float: left;
  margin-top: 4em;
  line-height: 1.8em;
  width: 100%;
}
select:focus,input:focus,textarea:focus, div{outline:none}

#map{
 width: 100%; 
 height: 250px; 
 margin: 0 auto 0 auto;
}
#map-overlay{
  z-index: 2;
  background: transparent;
  width: 100%;
  height: 250px;
  position: relative;
  top: 250px;
  margin: -250px auto 0 auto;
}

@media all and (min-width: 960px){ /*FOR DESKTOP Greater than 980px width screen*/
  #topbar{display:none}
  #logo{display:block}
  #navoverlay{display:none}
  #hamburger{display:none}
  #iframe-holder{width:65%}
  .col-2-3{width: 66.666%}
  .col-1-4{width: 25%}
  .col-1-3{width: 33.333%}
  .col-1-2{width: 50%}
  .col-1-1{width: 100%}
  .module{height: 350px;}
  .module-hover h1{font-size: 2em;}
  .module-hover p{margin-top: 5px; opacity:0}
  #contact-form{width: 70%; margin-bottom: 200px}
  #contact-form p{width: auto}
  #contact-form input[type=submit]{width: auto}
  #map{height: 500px;}
  #map-overlay{
    height: 500px;
    top: 500px;
    margin: -500px auto 0 auto;
  }
  nav{
    top: 24px;
    width: 100%;
    background: none;
    height: 56px;
    margin-left: 0;
    position: absolute;
  }
  nav ul{
    margin-top: 0;
    margin-right: 26px;
    width: auto;
  }
  nav li{
    width: auto;
  }
  .selected{
    background: none;
    font-weight: 00;
    height: 50px !important;
  }
  #header-text h1, #header-text p{
    max-width: 700px;
    font-size: 4.5em;
  }
  #header-text p{
    top: 45%;
    font-size: 1em;
  }
  
  .text-holder{
    padding: 30px;
  }
  
  
}
